.btn-floating-quote {
	position: fixed;
  width: 50px;
  height:50px;
	left: 1rem;
	top: 30%;
	background-color: #9796f0;
	border: 1px solid #9796f0;
  z-index: 1;
  border-radius:50%;
}
.btn-floating-cart:hover,
.btn-floating-quote:hover {
	background-color: #fbc7d4;
	border: 1px solid #fbc7d4;
}
.btn-floating-cart {
	position: fixed;
	width: 50px;
	height:50px;
	left: 1rem;
	top: 40%;
	background-color: #9796f0;
	border: 1px solid #9796f0;
	z-index: 1;
	border-radius:50%;
}
.spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.btn_addCar-admin{
	position: fixed;
	bottom:6%;
	right:4%;
}
.btn_addCar-admin>button{
	width:50px;
	height:50px;
	border-radius: 50%;
} 
.text-red{
	color:#C82333;
}

.bg-dark{
	background-image: linear-gradient(90deg,#9796f0,#fbc7d4);
}

.modal-content{
	background:linear-gradient(90deg,#9796f0,#fbc7d4) !important ;
}